node_modules/
.env
.env.local
ufs crm/dist/
others/hr form/dist/
*.log
backend/backend-log.txt
.DS_Store
backend/private-key.json
app-debug.apk
app-release.apk
*.apk
*.jpeg
*.jpg
feereceiptapp/
/whatsapp-crm/
shon/
*.aab
main.txt
emails.txt
razorypay.txt
client/assets/*.properties

package.json
package-lock.json
!others/client-web/package.json
!others/client-web/package-lock.json
!others/admin-attendance/package.json
!others/admin-attendance/package-lock.json
!others/hr form/package.json
!others/hr form/package-lock.json
!others/sevak library/package.json
!others/sevak library/package-lock.json

tmp_schema.sql
aws/main.md